.card {
  width: 200px;
  height: fit-content;
  border: 1px solid rgb(94, 94, 94);
  margin: 10px;
  border-radius: 5px;
}

.card-img-top {
  width: 100%;
}

.card-body {
  padding: 10px;
}

:root {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: rgb(87, 120, 240);
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  display: block;
  width: fit-content;
  border-radius: 3px;
  text-decoration: none;
}